.actiive-tender-container{
    margin-top: -650px;
    margin-left: 300px;
    margin-bottom: 420px;
}

.at-cards-container{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.at-card{
    width: 400px;
    height: 300px;
    background-color: #E4EDFF;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px; 
    line-height: 12px;
}

.at-card h5{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.at-card h6{
    font-size: 16px;
}
.at-card h6 strong{
    font-size: 16px;
}
.at-card span{
    margin-top: auto;
    margin-left: 0px;
}

