.t-r-container{
    margin-top: -830px;
    margin-left: 300px;
    margin-bottom: 370px;
}

/* .tr-cards-container{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-around;
} */

.tr-card{
    width: 350px;
    height: 350px;
    background-color: #E4EDFF;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;   
}

.tender-results tr{
    font-size: 20px;
    line-height: 40px;
    font-weight: bolder;
}
td.awarded{
    color: green;
}
