.t-r-container{
    margin-top: -550px;
    margin-left: 300px;
    margin-bottom: 200px;
}


.results-container{

    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.single-tender {

    background-color: #eaeeff;
    padding: 15px;
    border-radius: 20px;
    width: 450px;
    margin: 15px 0;

}

.single-tender td {

    font-size: .9rem;

}

.single-tender button {

    width: 200px;

}



