/* * {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    bottom: border-box;
} */

#root {
    /* border: 1px solid green; */
    float: left;
    width: 100%;
    height: 100vh;
}

/* body {
    margin: 0;
    height: 100vh;
    width: 100%;
    float: left;
}

.publish-container {
    float: left;
    width: 100%;
    height: 837px; */
    /* border: 1px solid red; */
/* }

.publish-navigation{
    height: 100vh;
    background-color: #130037;
    width: 300px;
    float: left;
}

.publish-content {
    float: left;
    width: calc(100% - 300px);
    background-color: #f9faff;
    height: 100vh;
    padding: 50px;
    font-size: 24px;

}

.publish-form {
    float: left;
    width: 100%;
    background-color: #ebeeff;
    padding: 30px;
    display: block;
    margin-top: -50px;

}

.tender-group {
    width: 100%;
    margin-bottom: 20px;
    clear: both;
    float: left;
    font-size: 24px;


}

.tender-group span {
    width: 150px;
    display: block;
    float: left;
    font-weight: 600;

}

.tender-group input {

    width: 400px;
    padding: 15px;
    border-radius: 15px;
    background: white;
    float: left;
    border: 1px solid transparent;

}


.tender-group input:hover{
 
    border: 1px solid #5600cd;

}

.timeline-container input {
    width: 100px;

}

.timeline-container span {
    width: 70px;
    
}

button {

    text-align: center;
    background-color: #5600cd;
    color: white;
    padding: 15px;
    border-radius: 15px !important;
    display: block;
    margin: 30px auto !important; 
}


@media screen and (max-width:481px) {

    .publish-navigation{
    height: 100vh;
    background-color: #130037;
    width: 300px;
    float: left;
    display: none;
}

.publish-content { */

    /* float: left; */
    /* width:100%; */
    /* background-color: #f9faff; */
    /* height: 100vh; */
    /* padding: 15px; */
/*      */

/* }

.tender-group input {

    width: 100%;
    padding: 15px;
    border-radius: 15px;
    background: white;
    float: left;
    border: 1px solid transparent;

}


.tender-group span {

    width: 100%;
    display: block;
    float: left;
    font-weight: 600;
    margin-bottom: 5px;

}


    
} */