* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    font-size: 24px;
}

/* body {
    margin: 0;
    margin: 0% 20%;
    background-color: #FFFBF8;
}  */

label.form-label{
    font-size: 20px;
    color: #295CC5;
}

input {
    font-size: 10px;
    color: #295CC5;
}

div#emailHelp {
    font-size: 14px;
    color: #03266b;

}

label.form-check-label{
    font-size: 14px;
    color: #295CC5;


}