/* .navbar {
    background-color: #051135;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: left;
  }
   */
  .menu-bars {
    margin-left: 10px;
    /* font-size: 2rem; */
    background: none;
  }
  
  .nav-menu {
    background-color: #051135;
    width: 270px;
    display: flex;
    justify-content: center;
    /* position: fixed; */
    top: 0;
    margin-left: -120px;
    transition: 850ms;
    margin-top: 16px;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 0px 4px 10px;
    list-style: none;
    height: 100px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 16px;
    width: 99%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #1a83ff;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: #051135;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: left;
  }
  
  span {
    margin-left: 16px;
  }