 .supplier-page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin-left: 230px;
    margin-top: -660px;
    margin-bottom: 50px;
}
.supplier-cards-container{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-around;
}

.supplier-card{
    width: 280px;
    height: 260px;
    background-color: #E4EDFF;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;   
}
.supplier-card h6{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.supplier-card p{
    font-size: 16px;
}

.proposal-container {
    margin-left: 280px;
    margin-top: -670px;
    margin-bottom: 50px;
    
}

.proposal-cards-container{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.proposal-card{
    width: 300px;
    height: 270px;
    background-color: #E4EDFF;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px; 
    line-height: 12px;
}
.proposal-card h5{
    font-size: 19px;
    font-weight: bold;
    text-align: center;
}
.proposal-card h6{
    font-size: 15px;
}
.proposal-card h6 strong{
    font-size: 13px;
}
.proposal-card p{
    font-size: 16px;
    
}
.input-group {
    /* position: absolute; */
    width: 917px;
    height: 62px;
    left: 316px;
    top: 27px;
    background: #E4EDFF;
    border-radius: 20px;
}

.form-searchbar {
    border-radius: 20px;
    background-color: #E4EDFF;
    width: 600px;
    font-size: 16px;
    border-color: #E4EDFF;
    padding: 8px;
    margin-left: 20px

}

.search {
    position: relative;
    box-shadow: 0 0 0px rgba(51, 51, 51, .1);
}

.search input {
    color: blue;
    height: 40px;
    text-indent: 30px;
    border: 2px solid #E4EDFF;

}

.search .fa-search {

    position: absolute;
    top: 20px;
    left: 16px;

}
.btn btn-primary {
    font-size: 6px;
    margin-top: auto;
}

.tenders-container {
    margin-left: 250px;
    margin-top: -670px;
    margin-bottom: 50px;
}
.tenders-cards-container{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.tenders-card{
    width: 320px;
    height: 300px;
    background-color: #E4EDFF;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px; 
    line-height: 12px;
}
.tenders-card h5{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.tenders-card h6{
    font-size: 16px;
}
.tenders-card h6 strong{
    font-size: 16px;
}
.tenders-card span{
    float: right;
    margin-top: auto;
}