body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.supplier-container {
    margin-left: 350px;
    margin-top: -550px;
    display: flexbox;
}
.cards-container {
    display: flex;
    justify-content: space-around;
    border: 20px;

}

.card {
    width: 300px;
    border-radius: 20px;
    height: 250px;
    margin: 4px;
}

.card-header {
    font-size: 20px;
    font-weight: bolder;
    color: black;
}

.card-text {
    font-size: 12px;
    display: inline-block;
}

.card-text span {
    font-size: 12px;
}

.input-group {
    /* position: absolute; */
    width: 917px;
    height: 62px;
    left: 316px;
    top: 27px;
    background: #E4EDFF;
    border-radius: 20px;
}
.form-searchbar{
    border-radius: 20px;
    background-color: #E4EDFF;
    width: 600px;
    font-size: 16px;
}
