.cards-container {
    display: flex;
}
.card {
    width: 350px;
    border-radius: 20px;
    
}
.card-header {
    font-size: 22px;
    font-weight: bolder;
    color: black;
}
.card-text {
    font-size: 16px;
    display: inline-block;
}
.card-text span {
    font-size: 16px;
}
