.bidtenders-container {
    margin-left: 250px;
    margin-top: -580px;
    margin-bottom: 50px;
}
.form-searchbar{
    height: 62px;
    width: 1200px;
}
::placeholder{
    font-size: 20px;
}
.bidtenders-cards-container{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.bidtenders-card{
    width: 390px;
    height: 490px;
    background-color: #E4EDFF;
    margin: 16px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 12px; 
    line-height: 15px;
    justify-content: space-evenly;
}
.bidtenders-card h5{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.bidtenders-card p{
    font-size: 16px;

}
.bidtenders-card p strong{
    font-size: 16px;
    
}

tr{
    /* border: 0; */
    padding: 0;
    margin: 0;
    line-height: 15px;
}
td {
    font-size: 15px;
}

.btnholder {
    text-align: center;
}
.btn#submittender{
    background-color: #0D51C0;
	text-align: center;
	color: #ffffff;
	font-weight: 600;
    width: 239px;
    height: 52px;
    font-size: 20px;
}

