@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    font-size: 24px;
}

body {
    margin: 0;
    margin: 0% 8%;
    background-color: #FFFBF8;
}

h1.landing-header{
    font-family: 'Lora', serif;
    font-size: 4rem;

}

p.landing-text{
    font-family: 'Lora', serif;
    font-size: 1.2rem;
}
button.btn {
	background-color: #0D51C0;
	text-align: center;
	color: #ffffff;
	font-weight: 900;
    width: 239px;
    height: 72px;
    /* border-radius:10%; */

}
.card {
    background-color: #D1E3FF;
    width: 351px;
    height: 234px;
    margin: 0% 12%;
    border-radius: 0%;
    border: 0;

}
.card-icon {
    text-align: center;
}
.card-title{
    font-weight: bolder;
    text-align: center;
    font-size: 24px;

}
.card-text{
    font-weight: lighter;
    text-align: center;
    font-size: 18px;
}

.navbar-brand {
    font-size: 28px;
    font-weight: bolder;
}
/* span.tender-logo{
    font-size: 1rem;
    color: #0D51C0;
    
} */
.nav-link#active {
    color: #0D51C0;
    font-weight: 500;
}
.nav-link {
    font-weight: 500;
    color: black;
    font-size: 20px;
}
#footer{
    background-color: #ECF7FF ;
   
}